<<<<<<< HEAD
:root{
    --light-color: #fff;
    --dark-color: #2A4C65;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a {
    color: var(--light-color) !important;
    text-decoration: none;
}

.btn{
    padding: 8px 10px;
    background: var(--light-color);
    border-radius: 2px;
    user-select: none;
    font-size: 1rem;
    border: 1px solid #35353F;
    cursor: pointer;
    color: var(--dark-color);
}

.btn:hover{
    background: #35353F !important;
    border-color: var(--dark-color) !important;
    color: var(--light-color) !important;
}

.no-articles-message {
    text-align: center;
    font-size: 1.2em;
    color: #ff0000; 
    padding: 20px;
    border: 1px solid #ff0000; 
    border-radius: 8px;
    background-color: #ffe6e6; 
    margin: 20px auto;
    max-width: 600px; 
}




=======
:root{
    --light-color: #fff;
    --dark-color: #2A4C65;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a {
    color: var(--light-color) !important;
    text-decoration: none;
}

.btn{
    padding: 8px 10px;
    background: var(--light-color);
    border-radius: 2px;
    user-select: none;
    font-size: 1rem;
    border: 1px solid #35353F;
    cursor: pointer;
    color: var(--dark-color);
}

.btn:hover{
    background: #35353F !important;
    border-color: var(--dark-color) !important;
    color: var(--light-color) !important;
}

.no-articles-message {
    text-align: center;
    font-size: 1.2em;
    color: #ff0000; 
    padding: 20px;
    border: 1px solid #ff0000; 
    border-radius: 8px;
    background-color: #ffe6e6; 
    margin: 20px auto;
    max-width: 600px; 
}




>>>>>>> 1e05f222f498b2f22a74a4d3d7782f342b8e1b9d
